.popupOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(100px);
    opacity: 0;
    transition: all .4s;
    z-index: -111;
    pointer-events: none;
    user-select: none;

    &.visible {
        transform: translateY(0);
        opacity: 1;
        z-index: 1000;
        pointer-events: all;
        user-select: all;
    }
}