* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Roboto-mono';
    src: url('../fonts/Roboto/RobotoMono-VariableFont_wght.ttf');
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../img/gradient.svg');
    background-repeat: no-repeat;
    background-color: #222;
    font-family: 'Roboto';
    background-size: contain;
    transform: translate3d(0, 0, 0); /* Аппаратное ускорение */
    will-change: filter; /* Подготовка браузера */
    opacity: 1; /* Явное указание прозрачности */
    min-height: 200px; /* Минимальная высота для отрисовки */
    transition: all 0s;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.main__container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.balance {
    max-width: 100%;
    width: 100%;
    background: rgba(48, 51, 51, 0.6);
    backdrop-filter: blur(179px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    margin: 40px 16px 0 16px;
    
}
.balance__hr {
    background-color: white;
    height: 1px;
    border: none;
    border-radius: 3px;
    opacity: 0.1;
    width: 288px;
    margin: 0 auto;
}
.balance__money {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 12px;
    margin-top: 48px;
}
.balance__money-secondary-text {
    color: white;
    font-size: 18px;
    opacity: 0.5;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    font-family: 'Roboto-mono';
}
.balance__money-main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-bottom: 24px;
    font-family: 'Roboto-mono';
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3%;
}
.balance__money-img {
    border-radius: 50%;
    position: absolute;
    top: -84px;
}
.balance__money-img img {
    background: rgb(16, 110, 98);
    border-radius: 50%;
}
.balance__convert {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}
.balance__convert > div {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.balance__button {
    margin: 32px 16px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #17C8B6;
    width: calc(100% - 32px);
    border-radius: 20px;
    padding: 16px 27.75px;
    box-shadow: 4px -4px 22.4px 0px #98D3CD inset, -4px 4px 15.6px 0px #FFFFFF40 inset, 0px 0px 8.3px 0px #17C8B640;
}
.balance__button > div button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: inherit;
    font-family: 'Roboto';
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -2%;
}
.balance__button > div button img {
    width: 24px;
    height: 24px;
}
.balance-main-text--comma-money {
    font-family: 'Roboto';
    font-weight: 400;
}
.balance__button-hr {
    border: none;
    background: #fff;
    width: 1.5px;
    height: 32px;
    border-radius: 3px;
    opacity: 0.3;
}
.secondary-text {
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: 0%;
    opacity: 0.4;
    font-family: 'Roboto';
}
.balance-main-text {
    font-family: 'Roboto-mono';
    color: white;
    font-size: 18px;
    margin-top: 8px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 0%;
}
.transactions {
    width: 100%;
    margin-top: 20px;
    background: #303333;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding-top: 28px;
    border-top: 0.8px solid #FFFFFF1A
}
.transactions__container {
    max-width: 390px;
    margin: 0 auto 0 auto;
    padding: 0 24px;
}
.transactions__header {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.transactions__header-hr {
    position: absolute;
    bottom: 0;
    height: 3px;
    border: none;
    width: 100%;
    background: #FFFFFF;
    opacity: 0.3;
    box-shadow: 0px 0px 10.1px 0px #17C8B626;
    border-radius: 5px;
}
.transactions__header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
}
.transactions__header-container > div {
    padding: 0 12px 16px 12px;
}
.transactions__header-container > div > button {
    display: inline-block;
    color: white;
    background-color: inherit;
    border: none;
    opacity: 0.5;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Roboto';
}
.transactions__active {
    position: relative;
}
.transactions__active::before {
    content: "";
    top: 91.5%;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
}
.transactions__active > button {
    opacity: 1 !important;
    color: white !important;
}
.transactions__inner {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.transactions__item {
    display: flex;
    justify-content: space-between;
}
.transactions__item-add_money {
    display: flex;
    gap: 12px;
}
.transactions__item-add {
    background: rgba(255, 255, 255, 0.2);
    padding: 10.25px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}
.transactions__item-add > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5px;
    height: 19.5px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    background: inherit;
    background-position: center;
    background-size: cover;
}
.main-text {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: 'Roboto-mono';
}
.main-text__500 {
    font-weight: 500;
}
.transactions__item-money {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.transactions__item-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.balance__money-main-text--comma {
    color: #FFFFFF80;
    font-family: 'Roboto';
}
.balance-main-text--comma {
    font-family: 'Roboto';
}
@media (max-width: 390px) {
    .balance {
        width: 100%;
    }
    .balance__button {
        width: calc(100% - 32px);
    }
}
@media (max-width: 360px) {
    .balance {
        width: 100%;
    }
    .balance__button {
        width: calc(100% - 32px);
    }
}