* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Roboto-mono';
    src: url('../fonts/Roboto/RobotoMono-VariableFont_wght.ttf');
}

body {
    background: #222222;
    font-family: 'Roboto';
}
.main__container {
    max-width: 358px;
    width: 358px;
    margin: 0 auto;
    padding: 32px 0;
}
.main__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}
.main__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #ffffff;
    opacity: 0.5;
}
.converter {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}
.converter__switch {
    position: absolute;
    left: 67px;
    top: 68px;
}
.converter__switch-button {
    background-color: #17C8B6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #303333
}
.converter__switch-button--opacity {
    background: #222222 !important;
    border: none;
}
.converter__switch-button > img {
    color: #ffffff;
}
.converter__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.input-span {
    display: flex;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    background-color: inherit;
    border: none;
    align-items: baseline;
    span {
        margin-right: -5px;
    }
}
.converter__value {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    background-color: inherit;
    border: none;
}
input[type="text"] {
    width: 14ch; /* Подойдет для ввода 10 символов */
    text-align: right;
    outline: none;
  }
  
.auto-width-input {
    white-space: nowrap;
    transition: width 0.2s ease;
}
.converter__available {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
.converter__available-value {
    font-size: 13px;
    background-image: url('../img/transparent.png'); 
    background-size: cover;
    background-position: center;
    font-weight: 500;
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}
.converter__currency {
    padding: 30px 35px;
    background: #303333;
    border-radius: 24px;
    width: 88px;
    height: 88px;
}
.converter__currency-symbol {
    font-family: Roboto;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: white;
}
.converter__money {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 22px 20px 22px 24px;
    align-items: center;
    background: #303333;
    border-radius: 24px;
    height: 88px;
}
.converter__money > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.converter__item--active .converter__currency,
.converter__item--active .converter__money {
    background-color: rgba(23, 200, 182, 1);
}
.converter__item--active {
    color: #8be4da;
}
.converter__label {
color: #fff;
opacity: 0.5;
}
.converter__item--opacity,
.converter__switch--opacity .converter__switch-button {
    opacity: 0.2;
}
.converter__switch--opacity .converter__switch-button {
    background: rgba(34, 34, 34, 1) !important;
    border: none !important;
}
.converter__label {
    color: white;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 90%;
    letter-spacing: 0%;
    margin-bottom: 4px;
    opacity: 0.5;
}
.number {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}
.number__button--grid-column {
    grid-column: span 2;
    width: 100%;
    text-align: left;
    padding-left: 32px;
}
.number__button {
   
    height: 88px;
    background: #303333;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 29px;
    font-family: 'Roboto';
}
.number__button--active {
    border: 2px solid rgba(23, 200, 182, 0.9) !important;
}
.number__button--enter {
    background-image: url('../img/transparent.png');
    background-position: center;
    border: 1px solid #FFFFFF33;
    backdrop-filter: blur(66.9000015258789px);
background-size: cover;
box-shadow: -4px 4px 10.1px 0px #F5F5F540 inset,
4px -4px 16.6px 0px #F26FC4 inset,
 0px 0px 8.3px 0px #FA84AF40;
  display: flex;
  justify-content: center;
  align-items: center;
}
