.profilePopup {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 63px;
    overflow: auto;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    background: rgba(23, 23, 25, 1);
    background-image: url('/src/static/img/top-bottom-purple-effect.png');
    background-size: 100% 100%;
    background-position: top;
    padding: 24px 20px 120px 20px;

    .closePopupButton {
        width: 32px;
        height: 32px;
        border-radius: 1000px;
        outline: none;
        border: none;
        background: none;
        right: 20px;
        top: 24px;
        position: absolute;
        z-index: 5;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: inline-block;
            content: '';
            z-index: -1;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(8.300000190734863px);
            box-shadow: 0px 0px 17.1px 0px rgba(54, 28, 86, 0.06);
            border-radius: inherit;
        }
    }

    .issueButton {
        width: 32px;
        height: 32px;
        border-radius: 1000px;
        outline: none;
        border: none;
        background: none;
        left: 20px;
        top: 24px;
        position: absolute;
        z-index: 5;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: inline-block;
            content: '';
            z-index: -1;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(8.300000190734863px);
            box-shadow: 0px 0px 17.1px 0px rgba(54, 28, 86, 0.06);
            border-radius: inherit;
        }
    }

    .userProfileContent {
        margin-top: 32px;

        .userProfileAvatarContainer {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            width: calc(124px - (19px * 2));
            padding: 13px 19px;
            height: calc(123px - (13px * 2));
            border-radius: 1000px;
            box-shadow: 0px 0px 32.2px 0px rgba(144, 1, 204, 0.5);
            border: 3px solid rgba(144, 1, 204, 1);
            z-index: 5;

            &::before {
                position: absolute;
                left: 2px;
                top: 1.5px;
                right: 2px;
                bottom: 1.5px;
                content: '';
                display: inline-block;
                border: 3px solid white;
                border-radius: inherit;
            }

            .userProfileAvatarChangeDataButton {
                position: absolute;
                right: 4px;
                top: 4px;
                outline: none;
                border: none;
                background: none;
                width: 28px;
                height: 28px;
                border-radius: 875px;
                z-index: 5;

                &::before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    content: '';
                    display: inline-block;
                    z-index: -1;
                    border-radius: inherit;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(7.262500286102295px);
                    box-shadow: 0px 0px 14.96px 0px rgba(54, 28, 86, 0.06);
                }
            }

            .userProfileAvatar {
                width: 82px;
                height: 94px;

                img {
                    filter: drop-shadow(0px 0px 19.1px rgba(249, 143, 22, 0.7));
                }
            }

            .userProfileLevel {
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 1000px;
                padding: 2.5px 6.5px;
                background: linear-gradient(90deg, #CAA2F4 0%, #8A2EE8 50%, #3A1262 100%);
                box-shadow: 2px -2px 11.8px 0px rgba(138, 46, 232, 0.5) inset,
                    -4px 4px 14.3px 0px rgba(255, 255, 255, 0.25) inset,
                    0px 0px 4.3px 0px rgba(138, 46, 232, 0.2),
                    4px -4px 3.9px 0px rgba(138, 46, 232, 0.6) inset,
                    -4px 4px 7.6px 0px rgba(255, 255, 255, 0.25) inset,
                    0px 0px 6.9px 0px rgba(138, 46, 232, 0.5);
                font-weight: 600;
                font-size: 15px;
                color: white;
            }
        }

        .userProfilePersonalContent {
            margin-top: 24px;
            gap: 6px;

            .username {
                font-weight: 600;
                font-size: 24px;
                line-height: 26.4px;
                color: white;
            }
        }

        .userExperienceContainer {
            margin-top: 32px;
            gap: 10px;

            .userExperienceIndicatorWrapper {
                position: relative;
                height: 20px;
                border-radius: 1000px;
                background: rgba(255, 255, 255, 0.2);

                .currentExperiencePercent {
                    font-family: "Geist Mono", monospace;
                    font-weight: 500;
                    font-size: 13px;
                    margin-left: 8px;
                    color: rgba(25, 25, 25, 1);
                    z-index: 15;
                }

                .totalExperienceValue {
                    font-family: "Geist Mono", monospace;
                    font-weight: 500;
                    font-size: 13px;
                    color:rgba(255, 255, 255, .5);
                    margin-right: 8px;
                }

                .userExperienceIndicator {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: inherit;
                    background: rgba(255, 255, 255, 1);
                    box-shadow: 0px 0px 12.5px 0px rgba(255, 255, 255, 0.5);
                    width: 232px;
                }
            }

            .userLevelContainer {
                .currentUserLevel {
                    font-weight: 600;
                    font-size: 14px;
                    color: white;
                    text-shadow: 0px 0px 12.5px rgba(255, 255, 255, 0.5);

                    .mono {
                        font-family: "Geist Mono", monospace;
                    }
                }

                .nextUserLevel {
                    font-weight: 600;
                    font-size: 14px;
                    color: white;
                    opacity: 25%;
                    text-shadow: 0px 0px 12.5px rgba(255, 255, 255, 0.5);

                    .mono {
                        font-family: "Geist Mono", monospace;
                    }
                }
            }
        }

        .userPersonalLinksContainer {
            margin-top: 29px;
            gap: 8px;

            .userPersonalLinkCard {
                gap: 6px;
                padding: 16px;
                text-decoration: none;
                border-radius: 20px;
                background: rgba(35, 35, 37, 1);

                &:nth-child(1) {
                    background: linear-gradient(90deg, #CAA2F4 0%, #8A2EE8 50%, #3A1262 100%);
                    box-shadow: 0px 0px 15.1px 0px rgba(138, 46, 232, 0.5),
                        4px -4px 16.6px 0px rgba(138, 46, 232, 1) inset,
                        -4px 4px 19px 0px rgba(255, 255, 255, 0.25) inset;

                    .userPersonalLinkTextContainer {
                        .userPersonalLinkDescription {
                            color: white;
                            opacity: 60%;
                        }
                    }
                }

                .userPersonalLinkTextContainer {
                    gap: 4px;

                    .userPersonalLinkTitle {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 16px;
                        color: white;
                    }

                    .userPersonalLinkDescription {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18.2px;
                        color: rgba(100, 100, 100, 1);
                    }
                }
            }
        }

        .ratingCardsBlock {
            gap: 16px;
            margin-top: 36px;

            .ratingCardsBlockTitle {
                font-weight: 600;
                font-size: 24px;
                line-height: 26.4px;
                color: white;
            }

            .ratingCardsContainer {
                gap: 8px;

                .userCard {
                    height: fit-content;
                    gap: 12px;
                    border-radius: 24px;
                    padding: 16px;
                    background: rgba(35, 35, 37, 1);

                    .aboutuserContainer {
                        gap: 12px;

                        .userAvatar {
                            width: 48px;
                            height: 48px;
                            border-radius: 16px;
                            background: rgba(68, 66, 70, 1);
                          

                            img {
                                
                                width: 36px;
                                height: 36px;
                            }
                        }

                        .textContainer {
                            gap: 8px;

                            .userUsername {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 18px;
                                color: white;
                            }

                            .userNumericDataContainer {
                                gap: 12px;

                                .userTotalAmount {
                                    gap: 6px;
                                    padding-right: 12px;
                                    border-right: 1px solid #6464644D;

                                    .userTotalProfitPreview {
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 1000px;
                                        box-shadow: 0px 0px 11.9px 0px #8D48FFB2;
                                    }

                                    .userTotalProfit {
                                        font-family: "Geist Mono", monospace;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 16.8px;
                                        color: white;
                                    }
                                }

                                .userLevel {
                                    width: fit-content;
                                    height: calc(17px - (3px * 2));
                                    border-radius: 7px;
                                    padding: 3px 5px;
                                    background: rgba(139, 45, 233, 0.15);
                                    border: 1px solid rgba(139, 45, 233, 0.4);
                                    color: #9D49F1;
                                    font-weight: 600;
                                    font-size: 13px;


                                    .mono {
                                        font-family: "Geist Mono", monospace;
                                    }
                                }
                            }
                        }
                    }

                    .userTableNumericId {
                        font-family: "Geist Mono", monospace;
                        font-weight: 500;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 32px;
                        color: white;

                        .symbol {
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 24px;

                        }
                    }

                    &:first-child {
                        .userTableNumericId {
                            color: #9D49F1;
                            text-shadow: 0px 0px 8px #7C34C4,
                            0px 0px 9.5px #9D49F133;

                            &::first-letter {
                                color: #9D49F1;
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright {
        position: relative;
        top: 80px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        color: rgba(100, 100, 100, 1);
        display: flex;
        justify-content: center;
    }
}