<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/currency-exchange.css" />
    <script src="../JS/button-number.js" defer></script>
    <title>Обмен валюты</title>
</head>
<body>
    <main class="main">
        <div class="main__container">
            <h2 class="main__title">Обмен валюты</h2>
            <span class="main__subtitle">Выберите валюту для обмена</span>
            <section class="converter">
                <div class="converter__item">
                    <div class="converter__currency">
                        <span class="converter__currency-symbol">₽</span>
                    </div>
                    <div class="converter__money">
                        <span class="converter__label">From</span>
                        <div>
                            <span class="converter__available">Доступно <span class="converter__available-value" style="margin-left: 4px;">₽58303</span></span>
                            <input type="text" id="input1" class="converter__value auto-width-input" style="margin-top: 4px;" value="78176.00" inputmode="none">
                        </div>
                    </div>
                </div>
                <div class="converter__switch">
                    <button class="converter__switch-button"><img src="../static/img/Frame 2131328348.svg" alt=""></button>
                </div>
                <div class="converter__item converter__item--active">
                    <div class="converter__currency converter__currency--active">
                        <img src="../static/img/Vector (8).svg" alt="">
                    </div>
                    <div class="converter__money converter__money--active">
                        <span class="converter__label">From</span>
                        <div>
                             <input type="text" id="input2" class="converter__value auto-width-input" style="margin-top: 4px;" value="78476.00" inputmode="none">
                        </div>
                    </div>
                </div>
            </section>
            <section class="number">
                <button class="number__button number__button--active" onclick="addChar('1')">1</button>
                <button class="number__button" onclick="addChar('2')" >2</button>
                <button class="number__button" onclick="addChar('3')" >3</button>
                <button class="number__button" onclick="deleteChar()" >C</button>
                <button class="number__button" onclick="addChar('4')" >4</button>
                <button class="number__button" onclick="addChar('5')" >5</button>
                <button class="number__button" onclick="addChar('6')" >6</button>
                <button class="number__button" onclick="addChar('-')" >-</button>
                <button class="number__button" onclick="addChar('7')" >7</button>
                <button class="number__button" onclick="addChar('8')" >8</button>
                <button class="number__button" onclick="addChar('9')" >9</button>
                <button class="number__button" onclick="addChar('+')" >+</button>
                <button class="number__button number__button--grid-column" onclick="addChar('0')">0</button>
                <button class="number__button" onclick="addChar('.')">.</button>
                <button class="number__button number__button--enter"><img src="../static/img/Icon Frame.svg" alt=""></button>
            </section>
        </div>
    </main>
</body>
</html>