<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/balance.css" />
    <script src="../JS/balance.js" defer></script>
    <title>Баланс</title>
  </head>
  <body>
    <!-- Удалить потом -->
    <div class="wrapper">
    <main class="main">
        <div class="main__container">
            <section class="balance">
                <div class="balance__money">
                    <div class="balance__money-img">
                        <img src="../static/img/Exclude (1).svg" alt="" />
                    </div>
                    <span class="balance__money-secondary-text">₽ 40,487.05</span>
                    <p class="balance__money-main-text">
                        <span>1,120,000 </span> <img src="../static/img/Vector (9).svg" alt="" />
                    </p>
                </div>
                <hr class="balance__hr" />
                <div class="balance__convert">
                    <div>
                        <span class="secondary-text">FS к рублю</span>
                        <span class="balance-main-text">9.4785774</span>
                    </div>
                    <div>
                        <span class="secondary-text">Рубль к FS</span>
                        <span class="balance-main-text">434.00000</span>
                    </div>
                </div>
                <div class="balance__button">
                    <div>
                        <button><img src="../static/img/Vector-add.svg" alt="" /> Пополнить</button>
                    </div>
                    <hr class="balance__button-hr" />
                    <div>
                        <button><img src="../static/img/Exclude.svg" alt="" /> Обменять</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <section class="transactions">
            <div class="transactions__header">
                <div class="transactions__header-container">
                    <div class="transactions__button transactions__active">
                        <button>ВСЕ</button>
                    </div>
                    <div class="transactions__button">
                        <button>ПОПОЛНЕНИЯ</button>
                    </div>
                    <div class="transactions__button">
                        <button>ОБМЕНЫ</button>
                    </div>
                </div>
                <hr class="transactions__header-hr" />
            </div>
            <div class="transactions__container">
                <div class="transactions__inner">
                    <div class="transactions__item">
                        <div class="transactions__item-add_money">
                            <div class="transactions__item-add">
                                <button><img src="../static/img/Vector-add(2).svg" alt=""></button>
                            </div>
                            <div class="transactions__item-money">
                                <span class="main-text">64,577,380</span>
                                <span class="secondary-text">18 Марта 2025</span>
                            </div>
                        </div>
                        <div class="transactions__item-status">
                            <span class="main-text main-text__500">Пополнение</span>
                            <span class="secondary-text">Завершено</span>
                        </div>
                    </div>
                    <div class="transactions__item">
                        <div class="transactions__item-add_money">
                            <div class="transactions__item-add">
                                <button><img src="../static/img/Exclude-2(1).svg" alt=""></button>
                            </div>
                            <div class="transactions__item-money">
                                <span class="main-text">64,577,380</span>
                                <span class="secondary-text">18 Марта 2025</span>
                            </div>
                        </div>
                        <div class="transactions__item-status">
                            <span class="main-text main-text__500">Пополнение</span>
                            <span class="secondary-text">Завершено</span>
                        </div>
                    </div>
                    <div class="transactions__item">
                        <div class="transactions__item-add_money">
                            <div class="transactions__item-add">
                                <button><img src="../static/img/Vector-add(2).svg" alt=""></button>
                            </div>
                            <div class="transactions__item-money">
                                <span class="main-text">64,577,380</span>
                                <span class="secondary-text">18 Марта 2025</span>
                            </div>
                        </div>
                        <div class="transactions__item-status">
                            <span class="main-text main-text__500">Пополнение</span>
                            <span class="secondary-text">Завершено</span>
                        </div>
                    </div>
                    <div class="transactions__item">
                        <div class="transactions__item-add_money">
                            <div class="transactions__item-add">
                                <button><img src="../static/img/Exclude-2(1).svg" alt=""></button>
                            </div>
                            <div class="transactions__item-money">
                                <span class="main-text">64,577,380</span>
                                <span class="secondary-text">18 Марта 2025</span>
                            </div>
                        </div>
                        <div class="transactions__item-status">
                            <span class="main-text main-text__500">Пополнение</span>
                            <span class="secondary-text">Завершено</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
  </body>
</html>
