<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/payment-method.css" />
    <script src="../JS/modal.js" defer></script>
    <title>Успешная оплата</title>
</head>
<body>
    <div class="modal">
        <div class="modal__container modal__container--successful">
            <h3 class="modal__time">12:34</h3>
            <div class="modal__report">
                <img src="../static/img/successful.svg" alt="" />
                <h3 class="modal__report-title">+476.00 <img src="../static/img/Vector (7).svg" alt=""/></h3>
                <span class="modal__report-subtitle">Новое пополнение</span>
            </div>
            <hr class="modal__hr" />
            <div class="modal__balance">
                <div class="modal__balance-item">
                    <span class="modal__balance-secondary-text">Игровой баланс</span>
                    <div>
                        <span class="modal__balance-main-text">99 478 5774 </span>
                        <img src="../static/img/Vector (6).svg" alt="" />
                    </div>
                </div>
                <div class="modal__balance-item">
                    <span class="modal__balance-secondary-text"> Баланс Casino </span>
                    <div>
                        <span class="modal__balance-main-text"> 38 774 777 </span>
                        <img src="../static/img/₽ (2).svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__container-btn">
            <div class="modal__btn">
                <button class="modal__btn-button">Закрыть</button>
            </div>
        </div>
    </div>
</body>
</html>